* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Verdana, sans-serif;
}
body {
    background-color: burlywood;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*, 
* ::before, 
* ::after {
    box-sizing: inherit;
}