* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Verdana, sans-serif;
}

body {
    background-color: burlywood;
    color: rgb(73, 25, 1);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    color: rgb(73, 25, 1);
}

*,
::before,
::after {
    box-sizing: inherit;
}

nav {
    border: 3px solid white;
    padding: 3%;
    background-color: rgb(69, 33, 0);
    color: white;
}

nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-decoration: underline;
    color: white;
}

#menu a:hover {
    text-decoration: underline;
    color: crimson;
}

#menu {
    position: relative;
}

nav a.active {
    background-color: brown;
}

section {
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.deadline {
    display: flex;
    justify-content: center;
    color: beige;
}

.deadline-format {
    background-color: bisque;
    color: rgb(240, 125, 25);
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    display: grid;
    text-align: center;
    border-radius: 8%;
}

.deadline-format span {
    display: block;
    text-transform: uppercase;
}
